body {
  font-size: 14px; /* Размер шрифта по умолчанию для всего документа */
}

/*? Колонтитул Header  */
/**_____________________________________________________ */

.colontitul {
  text-align: right;
  list-style: none; /* Убираем маркеры у списка */
  padding: 0; /* Убираем внутренний отступ у списка */
  color: blue;
  
}
.colontitul li {
  display: inline-block; /* Размещаем элементы горизонтально */
  margin-right: 20px; /* Добавляем небольшой отступ между элементами */
}

/*? Контент div. Content (Assaide, Main)  */
/**_____________________________________________________ */

.content {
  display: flex; /* Используем flexbox для распределения контейнера на две части */
}

aside {
  width: 160px; /* Задаем ширину для блока с дополнительной информацией (подстраивайте под ваши нужды) */
  background-color: #f0f0f0;
  font-size: 12px;
  padding: 8px;
  border-right: 1px solid #ccc;
}

main {
  flex-grow: 1; /* Позволяет основному содержимому растягиваться, чтобы занять оставшееся пространство */
  margin: 20px 20px 20px 0;
  padding: 20px; /* Пример внутренних отступов для основного содержимого */
  text-align: justify; /* Выравнивание по ширине */
  word-spacing: 0.2em; /* Расстояние между словами (подстраивайте под ваши предпочтения) */
}

/*! Asside */
/**_____________________________________________________ */

.content .side-panel ul {
  list-style: none;
  padding: 5px;
}

.content .side-panel nav {
  color: rgb(17, 10, 148);
  text-decoration: underline;
}

.content .side-panel h4 {
  margin-bottom: 0; /* Убираем нижний отступ у заголовка */
  background-image: linear-gradient(to right,rgba(200,204,209,0) 0,#c8ccd1 33%,#c8ccd1 66%,rgba(200,204,209,0) 100%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

.content .side-panel ul {
  margin-top: 0; /* Убираем верхний отступ у списка */
}

.add-links ul {
  text-align: right;
}

/*! MAIN */
/**_____________________________________________________ */

main div {
  clear: both;
}

main p.sub-title {
  font-weight: bold;
}

main ul.card {
  column-width: 700px; /* Задаем ширину каждого столбца в пикселях */
  column-gap: 20px; /* Добавляем отступ между столбцами (подстраивайте под ваши нужды) */
  max-width: 100%; /* Ограничиваем максимальную ширину контейнера */
  overflow: hidden; /* Обрезаем содержимое, если оно не помещается в контейнер */
}

main ol.notes {
  column-width: 200px; /* Задаем ширину каждого столбца в пикселях */
  column-gap: 20px; /* Добавляем отступ между столбцами (подстраивайте под ваши нужды) */
  max-width: 100%; /* Ограничиваем максимальную ширину контейнера */
  overflow: hidden; /* Обрезаем содержимое, если оно не помещается в контейнер */
}

main ul.litters {
  column-width: 400px; /* Задаем ширину каждого столбца в пикселях */
  column-gap: 20px; /* Добавляем отступ между столбцами (подстраивайте под ваши нужды) */
  max-width: 100%; /* Ограничиваем максимальную ширину контейнера */
  overflow: hidden; /* Обрезаем содержимое, если оно не помещается в контейнер */
}

h2 {
  position: relative; /* Делаем позиционирование относительным */
}

h2::after {
  content: ""; /* Добавляем пустое содержимое для псевдоэлемента */
  display: block; /* Делаем псевдоэлемент блочным элементом */
  border-bottom: 2px solid black; /* Устанавливаем стиль и цвет горизонтальной черты */
  position: absolute; /* Позиционируем псевдоэлемент абсолютно относительно родителя (h2) */
  width: 100%; /* Занимаем 100% ширины родительского элемента */
  bottom: 0; /* Размещаем псевдоэлемент внизу (под h2) */
}

/*! FOOTER */
/**_____________________________________________________ */

footer {
  margin: 0 20px 0 150px;
  padding: 40px;
}

.footer {
  background-color: #f0f0f0;
  
}

.colontitul-footer {
  text-align: left;
  list-style: none; /* Убираем маркеры у списка */
  padding: 0; /* Убираем внутренний отступ у списка */
  color: blue;
  font-size: 12px;
  margin: 0 0 0 0;
  padding: 0;
}

.colontitul-footer li {
  display: inline-block; /* Размещаем элементы горизонтально */
  margin-right: 10px; /* Добавляем небольшой отступ между элементами */
}


/*! IMG */
/**_____________________________________________________ */

.naked-not-had-img {
  float: left;
  padding: 10px;
  width: 200px; /* Пример: задаем ширину картинки в 30% от ширины родительского контейнера */
  height: auto; /* Сохраняем пропорции, автоматически рассчитывая высоту */
}

.naked-had-img {
  float: right;
  padding: 10px;
  width: 200px; /* Пример: задаем ширину картинки в 30% от ширины родительского контейнера */
  height: auto; /* Сохраняем пропорции, автоматически рассчитывая высоту */
}

.wiki-ico-img {
  float: right;
  padding: 10px;
  width: 20%; /* Пример: задаем ширину картинки в 30% от ширины родительского контейнера */
  height: auto; /* Сохраняем пропорции, автоматически рассчитывая высоту */
}

.wiki-img {
  float: right;
  padding: 10px;
  width: 1; /* Пример: задаем ширину картинки в 30% от ширины родительского контейнера */
  height: auto; /* Сохраняем пропорции, автоматически рассчитывая высоту */
}

.home-img {
  float: right;
  padding: 10px;
  width: 200px; /* Пример: задаем ширину картинки в 30% от ширины родительского контейнера */
  height: auto; /* Сохраняем пропорции, автоматически рассчитывая высоту */
}

.olga-img {
  float: right;
  padding: 10px;
  width: 200px; /* Пример: задаем ширину картинки в 30% от ширины родительского контейнера */
  height: auto; /* Сохраняем пропорции, автоматически рассчитывая высоту */
}
